.blue_back.container  
  .lil_container
      h1.screen_title 
          img(src="/img/logo_3.png")
          =' Tin Can'
      .toolbar
      .callform
        hr
        form#submitcontact
          ol
            li Have a friend sign in to <strong>http://tincan.im</strong>
            li Get your smile ready
            li Place a call
              span.smaller 
                ="...or receive calls at" 
                  u
                    em(id="selectemail", onclick="selectEmail();")= email
          fieldset
            input#contactemail(autocomplete="off",type="email",placeholder="Email...")
            button#addcontactbtn.btn.btn-large.btn-success(type="submit", autocomplete="off") Call
          //button(class="btn btn-danger logoutbtn", onclick="logout()") Logout
        hr
        p.signout
          img(src="/img/lil_persona.png", height="35", width="45")
          =" Signed in as " 
          span(id="selectemail", onclick="selectEmail();")= email
          span  |
          button(onclick="logout()") Logout
    
div(class="callbox hidden")
  div(style="text-align: center;")
    button(class="btn btn-large btn-danger", onclick="endCurrentCall();") End call
video(id="incomingvid", class="incomingvid", autoplay)
video(id="outgoingvid", class="outgoingvid", autoplay)
  script.
    var socket = io.connect('!{server}');
    $('body').css('overflow','hidden');
  script(src="/js/main.js")
