body
  h1= title
  span
    div= email
    button(onclick="logout()") Logout
    //- button(id="startbtn", onclick="start()") Turn On Camera
    //- button(id="callbtn", onclick="call()") Call
    //- button(id="stoptransbtn", onclick="stopTransmitting()") Stop Transmitting
    //- button(id="stopreceivebtn", onclick="stopReceiving()") Stop Receiving
  div(class="container")
    div(class="bigbox")
      p(id='incomingstatus', style="position:absolute;") Them
      video(id="incomingvid", class="smallboxvid", autoplay)
    div(class="smallbox")
      p(id='outgoingstatus', style="position:absolute;") You
      video(id="outgoingvid", class="bigboxvid", autoplay)
    div(class="chatbox")
      form(id='submitcontact')
        input(id="contactemail", type="email", placeholder="Email")
        button(type="submit", id="addcontactbtn") Add Contact
      div(id="contactlist")
    div(class="msgbox")
      input(id="msginput", type="text", class="msginput", placeholder="Message")
      button(onclick="alert('sent fake message')") Send
  script(src="/js/main.js")
