body
  h1= title
  div= email
  button(onclick="logout()") Logout
  div(class="container")
    div(class="bigbox")
      p(id='outgoingstatus') This Browser's Stream
      video(id="outgoingvid", autoplay)

    div(class="smallbox")
    div(class="chatbox")
    div(class="msgbox")
  br

  br
  p(id='incomingstatus') The Other Browser's Stream
  video(id="incomingvid", autoplay)
  br
  button(id="startbtn", onclick="start()") Turn On Camera
  button(id="callbtn", onclick="call()") Call
  button(id="stoptransbtn", onclick="stopTransmitting()") Stop Transmitting
  button(id="stopreceivebtn", onclick="stopReceiving()") Stop Receiving
  br
  br
  input(id="contactemail", type="text", placeholder="Email")
  button(id="addcontactbtn", onclick="addContact()") Add Contact
  br
  div Emails:
    div(id="emails")
  script(src="/js/main.js")
