body
  span(style="float:left;", class="hidden-phone")
    h3(style="bottom:0; margin:0; padding-right:5px;padding-left:5px; line-height:30px; color:white;") PersonaRTC
  span(style="float:right; line-height:30px; padding-right:5px;padding-left:5px;")
    span(style="line-height:30px; padding-right:5px; padding-left:5px; color:white;", class="hidden-phone")=email
    button(class="btn btn-danger", onclick="logout()") Logout
  form(id='submitcontact', class="form-inline", style="line-height:30px;")
    input(id="contactemail", type="email", placeholder="Email", style="margin:0;")
    button(type="submit", id="addcontactbtn", style="margin-left:5px;", class="btn btn-success") Call
  div(id="contactlist")
  video(id="incomingvid", autoplay, style="width:100%; position: fixed; top:36px; left:0; bottom:0; right:0; height:100%; padding: 0; margin:0;")
  video(id="outgoingvid", autoplay, muted, style="position:fixed; bottom:0; width:320px; height:240px; right:0; float:right;")
  script
    var socket = io.connect('!{server}');
  script(src="/js/main.js")
