body(style="padding-right:5px; padding-left:5px;")
  div(class="toolbar")
    div(style="float:left; border: 1px;")
      a(href="/")
        h3(style="bottom:0; margin:0; padding-right:5px; padding-left:5px; line-height:40pt; color:white; font-size: 40pt;")= title
    button(class="btn btn-danger btn-large logoutbtn", onclick="logout()") Logout
  div(class="callform")
    form(id='submitcontact', style="margin-top:100px;")
      h3(style="color:white; margin-bottom:0;") enter email to call
      fieldset
        input(id="contactemail", autocomplete="off", type="email", placeholder="Email...", style="margin:4px; height:24pt;")
        br
        button(type="submit", autocomplete="off", id="addcontactbtn", class="btn btn-large btn-success") Call
    h3(style="color:white;") or tell your friend to call&nbsp;
      u(style="color:white;")
        i(id="selectemail", onclick="selectEmail();")= email
  div(class="callbox hidden")
    div(style="text-align: center;")
      button(class="btn btn-large btn-danger", onclick="endCurrentCall();") End call
  video(id="incomingvid", class="incomingvid", autoplay)
  video(id="outgoingvid", class="outgoingvid", autoplay)
  script.
    var socket = io.connect('!{server}');
  script(src="/js/main.js")
