body
  h1= title
  span
    div= email
    button(onclick="logout()") Sign out
  div(class="container")
    div(class="bigbox")
      p(id='incomingstatus', style="position:absolute;") &nbsp;&nbsp;Remote
      video(id="incomingvid", class="smallboxvid", autoplay)
    div(class="smallbox")
      p(id='outgoingstatus', style="position:absolute;") &nbsp;&nbsp;Local
      video(id="outgoingvid", class="bigboxvid", autoplay, muted)
    div(class="chatbox")
      form(id='submitcontact')
        input(id="contactemail", type="email", placeholder="Email")
        button(type="submit", id="addcontactbtn") Add Contact
      div(id="contactlist")
  script
    var socket = io.connect('!{server}');
  script(src="/js/main.js")
