body(style="text-align:center; width:500px;")
  div(style="height:325px; width:100%;")
  a(id="signin", class="persona-button orange", style="clear:both;text-align:center; font-size:32pt; height:55px; width:500px;")
    span Sign in with Persona
  script(src='/lib/jquery.min.js')
  script(src="/js/login.js")
