body(style="text-align:center;")
  div(style="height:325px; width:100%;")
  button(id="signin", class="btn btn-large btn-block persona-button orange", style="clear:both; max-width:500px; font-size:25px; line-height:1.1; margin:auto;")
    span Sign in with Persona
  script(src='/lib/jquery.min.js')
  script(src="/js/login.js")
