body(style="text-align:center;")
  h1(class="title")= title
  button(id="signin", class="btn btn-block persona-button orange", style="max-width:400px; font-size:23px; color:white; text-shadow:black 0 0 0; border-width:0px; line-height:1.1; margin:auto;")
    span Sign in with email
  script(src="/js/login.js")
